<section style="position: relative">
  <picture>
    <source srcset="/public/images/taiwan-cover.jpg" media="(width >= 760px)" />
    <source
      srcset="/public/images/taiwan-cover-low-res.jpg"
      media="(width < 760px)"
    />
    <img
      src="/public/images/taiwan-cover.jpg"
      alt="Taiwan Cover"
      style="width: 100%; height: 100vh; object-fit: cover"
    />
  </picture>
  <div
    class="overlay"
    style="
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    "
  ></div>
  <div style="position: absolute; bottom: 10vh; left: 5vw; color: white; z-index: 4;">
    <h1>Taiwan: Small Island, Big Adventures</h1>
    <p>
      From marble gorges to neon nights—discover four regions, countless
      experiences. Explore Regions
    </p>
    <a href="#regions">
      <button type="button" class="btn btn-success" style="display: flex; gap: 10px;">
        Explore Regions
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="bi"
          viewBox="0 0 16 16"
          aria-hidden="true"
          fill="white"
          style="width: 20px;"
        >
          <path
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
          />
        </svg>
      </button>
    </a>
  </div>
</section>
