<div class="container-fluid" style="padding: 10vh 10vw" id="exp">
  <span
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    "
    class="expHeading"
  >
    <h1>Cultural & Culinary Experiences</h1>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="expRadio"
        id="cultural"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-dark rounded-start-pill" for="cultural">Cultural</label>
      <input
        type="radio"
        class="btn-check"
        name="expRadio"
        id="culinary"
        autocomplete="off"
      />
      <label class="btn btn-outline-dark rounded-end-pill" for="culinary">Culinary</label>
    </div>
  </span>
  <div class="card cultural">
    <div class="card-body">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="display: flex; gap: 20px; align-items: center" class="carouselContainer">
              <div class="img" style="width: 50%">
                <picture>
                  <source
                    srcset="/public/images/cultural-1.jpg"
                    media="(width >= 760px)"
                  />
                  <source
                    srcset="/public/images/cultural-1-low-res.jpg"
                    media="(width < 760px)"
                  />
                  <img
                    src="/public/images/cultural-1.jpg"
                    alt="Temple Etiquette Walk"
                    style="width: 100%; border-radius: 20px"
                  />
                </picture>
              </div>
              <div class="content">
                <h2>Temple Etiquette Walk</h2>
                <p class="text-secondary">
                  Learn incense rituals, fortune sticks, and local customs.
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  style="display: flex; gap: 10px"
                >
                  Ask about this experience
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="bi"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    fill="white"
                    style="width: 20px"
                  >
                    <path
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div style="display: flex; gap: 20px; align-items: center" class="carouselContainer">
              <div class="img" style="width: 50%">
                <picture>
                  <source
                    srcset="/public/images/cultural-2.jpg"
                    media="(width >= 760px)"
                  />
                  <source
                    srcset="/public/images/cultural-2-low-res.jpg"
                    media="(width < 760px)"
                  />
                  <img
                    src="/public/images/cultural-2.jpg"
                    alt="Aboriginal Crafts"
                    style="width: 100%; border-radius: 20px"
                  />
                </picture>
              </div>
              <div class="content">
                <h2>Aboriginal Crafts</h2>
                <p class="text-secondary">
                  Textiles & woodcrafts with indigenous artisans.
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  style="display: flex; gap: 10px"
                >
                  Ask about this experience
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="bi"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    fill="white"
                    style="width: 20px"
                  >
                    <path
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div style="display: flex; gap: 20px; align-items: center" class="carouselContainer">
              <div class="img" style="width: 50%">
                <picture>
                  <source
                    srcset="/public/images/cultural-3.jpg"
                    media="(width >= 760px)"
                  />
                  <source
                    srcset="/public/images/cultural-3-low-res.jpg"
                    media="(width < 760px)"
                  />
                  <img
                    src="/public/images/cultural-3.jpg"
                    alt="Tea Ceremony in Alishan"
                    style="
                      width: 100%;
                      border-radius: 20px;
                      max-height: 500px;
                      object-fit: cover;
                    "
                  />
                </picture>
              </div>
              <div class="content">
                <h2>Tea Ceremony in Alishan</h2>
                <p class="text-secondary">
                  Savor high-mountain oolongs and brewing technique.
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  style="display: flex; gap: 10px"
                >
                  Ask about this experience
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="bi"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    fill="white"
                    style="width: 20px"
                  >
                    <path
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card culinary">
    <div class="card-body">
      <div id="carouselExample2" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="display: flex; gap: 20px; align-items: center" class="carouselContainer">
              <div class="img" style="width: 50%">
                <picture>
                  <source
                    srcset="/public/images/culinary-1.jpg"
                    media="(width >= 760px)"
                  />
                  <source
                    srcset="/public/images/culinary-1-low-res.jpg"
                    media="(width < 760px)"
                  />
                  <img
                    src="/public/images/culinary-1.jpg"
                    alt="Night Market Tasting"
                    style="width: 100%; border-radius: 20px"
                  />
                </picture>
              </div>
              <div class="content">
                <h2>Night Market Tasting</h2>
                <p class="text-secondary">
                  Stinky tofu, bubble tea, oyster omelets & more.
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  style="display: flex; gap: 10px"
                >
                  Ask about this experience
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="bi"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    fill="white"
                    style="width: 20px"
                  >
                    <path
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div style="display: flex; gap: 20px; align-items: center" class="carouselContainer">
              <div class="img" style="width: 50%">
                <picture>
                  <source
                    srcset="/public/images/culinary-2.jpg"
                    media="(width >= 760px)"
                  />
                  <source
                    srcset="/public/images/culinary-2-low-res.jpg"
                    media="(width < 760px)"
                  />
                  <img
                    src="/public/images/culinary-2.jpg"
                    alt="Sea-to-Table in Hualien"
                    style="width: 100%; border-radius: 20px"
                  />
                </picture>
              </div>
              <div class="content">
                <h2>Sea-to-Table in Hualien</h2>
                <p class="text-secondary">
                  Fresh catch, coastal views, local recipes.
                </p>
                <button
                  type="button"
                  class="btn btn-success"
                  style="display: flex; gap: 10px"
                >
                  Ask about this experience
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="bi"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    fill="white"
                    style="width: 20px"
                  >
                    <path
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div style="display: flex; gap: 20px; align-items: center" class="carouselContainer">
              <div class="img" style="width: 50%">
                <picture>
                  <source
                    srcset="/public/images/culinary-3.jpg"
                    media="(width >= 760px)"
                  />
                  <source
                    srcset="/public/images/culinary-3-low-res.jpg"
                    media="(width < 760px)"
                  />
                  <img
                    src="/public/images/culinary-3.jpg"
                    alt="Pineapple Cake Workshop"
                    style="
                      width: 100%;
                      border-radius: 20px;
                      max-height: 500px;
                      object-fit: cover;
                    "
                  />
                </picture>
              </div>
              <div class="content">
                <h2>Pineapple Cake Workshop</h2>
                <p class="text-secondary">Bake iconic treats to bring home.</p>
                <button
                  type="button"
                  class="btn btn-success"
                  style="display: flex; gap: 10px"
                >
                  Ask about this experience
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="bi"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    fill="white"
                    style="width: 20px"
                  >
                    <path
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
    const expInpts = document.querySelectorAll('input[name=expRadio]')
    let lastExp = 'cultural'
    document.querySelector('.culinary').style.display = 'none'
    expInpts.forEach(r => {
        r.addEventListener('change', (e) => {
            document.querySelector(`.${e.target.id}`).style.display = 'block'
            document.querySelector(`.${lastExp}`).style.display = 'none'
            lastExp = e.target.id
        })
    })
</script>