<div class="container-fluid" style="padding: 10vh 10vw" id="footer">
  <span
    style="
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    "
  >
    <img
      src="/public/images/logo.svg"
      alt="Taiwan Explorer Logo"
      style="height: 5vh"
    />
    <span style="display: flex; align-items: center; gap: 20px">
      <img
        style="width: 20px"
        src="/public/icons/icon-facebook.svg"
        alt="Facebook"
      />
      <img
        style="width: 20px"
        src="/public/icons/icon-instagram.svg"
        alt="Instagram"
      />
      <img
        style="width: 20px"
        src="/public/icons/icon-youtube.svg"
        alt="Youtube"
      />
    </span>
  </span>
  <hr />
  <span style="display: flex; justify-content: space-between; width: 100%; flex-wrap: wrap;" class="text-secondary">
    <p>© <%= (new Date()).getFullYear() %> Taiwan Explorer</p>
    <span style="display: flex; gap: 20px;">
        <a href="#" class="text-secondary link-underline-opacity-0 link-underline">Privacy Policy</a>
        <a href="#" class="text-secondary link-underline-opacity-0 link-underline">Terms and Conditions</a>
    </span>
  </span>
</div>
