<section class="section essential container-fluid" id="essential">
  <h1>Essential Information</h1>
  <p class="text-secondary">
    Official support and key contacts for your trip to Taiwan.
  </p>
  <div
    style="
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
    "
  >
    <div class="card">
      <div class="card-body">
        <h2>Taiwan Tourism Bureau</h2>
        <p class="text-secondary">+886-2-0000-0000</p>
        <p class="text-secondary">info@example.com</p>
        <p class="text-secondary">example.com</p>
        <span style="display: flex; gap: 10px">
          <button type="button" class="btn btn-dark">Read Aloud</button>
          <button type="button" class="btn btn-outline-dark">Stop</button>
        </span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h2>Official Website QR</h2>
        <div style="display: flex; gap: 10px; align-items: center">
          <img
            src="/public/images/QR.PNG"
            alt="QR Code of Website"
            style="height: 200px"
          />
          <span style="display: flex; flex-direction: column; gap: 10px">
            <p class="text-secondary">
              Scan to visit the official tourism website.
            </p>
            <a class="icon-link" href="#">
              Open Site
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="bi"
                viewBox="0 0 16 16"
                aria-hidden="true"
              >
                <path
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                />
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h2>Emergency & Safety Contacts</h2>
        <p class="text-secondary"><b>Police:</b> 000</p>
        <p class="text-secondary"><b>Fire/Ambulance:</b> 000</p>
        <p class="text-secondary"><b>Tourist Hotline:</b> 0800-000-000</p>
      </div>
    </div>
  </div>
  <div class="card" style="margin-top: 20px">
    <div
      class="card-body"
      style="display: flex; align-items: center; flex-direction: column"
    >
      <h2>Downloadable Travel Guide</h2>
      <p class="text-secondary">
        Comprehensive PDF guide with maps, itineraries, and essential tips for
        your Taiwan adventure.
      </p>
      <a href="public/pdf/taiwan-travel-guide.pdf" download="true">
        <button type="button" class="btn btn-main icon-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="bi"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
            />
          </svg>
            Download Travel Guide (PDF)
        </button>
      </a>
    </div>
  </div>
</section>
