<section class="section exp container-fluid" id="exp">
  <span
    style="
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <img src="/public/images/logo.svg" alt="Taiwan Logo" style="height: 5vh" />
    <div class="social">
        <img src="/public/icons/icon-facebook.svg" alt="Facebook Logo" style="height: 2vh;" />
        <img src="/public/icons/icon-instagram.svg" alt="Instagram Logo" style="height: 2vh;" />
        <img src="/public/icons/icon-youtube.svg" alt="Youtube Logo" style="height: 2vh;" />
    </div>
  </span>
  <hr />
  <span style="display: flex; align-items: center; justify-content: space-between;">
    <p class="text-secondary">© <%= (new Date()).getFullYear() %> Taiwan Explorer</p>
    <div class="policy">
        <a class="text-secondary link-underline link-underline-opacity-0" href="#">Privacy Policy</a>
        <a class="text-secondary link-underline link-underline-opacity-0" href="#">Terms and Conditions</a>
    </div>
  </span>
</section>
