<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taiwan Tourism</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/bootstrap.js" defer></script>
    <%- include('css.ejs') %>
  </head>
  <body>
    <header><%- include('navbar.ejs') %></header>
    <section class="banner">
      <picture>
        <source
          srcset="/public/images/taiwan-cover.jpg"
          media="(width >= 760px)"
        />
        <source
          srcset="/public/images/taiwan-cover-low-res.jpg"
          media="(width < 760px)"
        />
        <img
          src="/public/images/taiwan-cover.jpg"
          alt="Taiwan Landscape"
          class="bannerImg"
        />
      </picture>
      <span class="bannerOverlay"></span>
      <div class="content">
        <h1>Taiwan: Small Island, Big Adventures</h1>
        <p>
          From marble gorges to neon nights—discover four regions, countless
          experiences. Explore Regions
        </p>
        <a href="#regions">
          <button type="button" class="btn btn-main icon-link">
            Explore Regions
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="bi"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
          </button>
        </a>
      </div>
    </section>
  </body>
</html>
